Repository tum-v2/parloa-backend, pull requests merged in 2023-12, with the labels that each got.

#37 Sequence Scenarios
  src/simulation/agents/service/service.agent.flight.booker.ts
  src/simulation/agents/user.agent.ts
  src/simulation/mockedAPI/flightBooking.mocks.ts
Labels: SIM

#40 FEATURE/par-134/meta-initialize and create endpoints for optimization
  src/index.ts
  src/simulation/api/optimization.controller.ts
  src/simulation/db/models/optimization.model.ts
  src/simulation/db/repositories/factory.ts
  src/simulation/db/repositories/optimization.repository.ts
  src/simulation/docs/api.documentation.yaml
  src/simulation/model/response/optimization.response.ts
  src/simulation/router/optimization.router.ts
  src/simulation/service/conversation.service.ts
  src/simulation/service/optimization.service.ts
  src/simulation/service/simulation.service.ts
  tsconfig.json
Labels: META

#42 Feature/par 127 eva api endpoint for simulation team
  src/evaluation/api/evaluation.controller.ts
  src/evaluation/db/models/evaluation.model.ts
  src/evaluation/db/models/metric.model.ts
  src/evaluation/db/repositories/evaluation.repository.ts
  src/evaluation/db/repositories/metric.repository.ts
  src/evaluation/docs/api.documentation.yaml
  src/evaluation/model/request/run-evaluation.request.ts
  src/evaluation/model/request/run-evaluation.response.ts
  src/evaluation/router/evaluation.router.ts
  src/evaluation/service/evaluation.service.ts
  src/evaluation/service/logging.service.ts
  src/evaluation/service/metric.service.ts
  src/evaluation/utils/data.normalization.ts
  src/evaluation/utils/errors.ts
  src/evaluation/utils/metric.config.ts
  src/evaluation/validator/evaluation.validator.ts
  src/index.ts
  src/simulation/db/models/conversation.model.ts
Labels: EVA

#45 Added optimization logic to API implementation
  src/simulation/db/models/simulation.model.ts
  src/simulation/db/repositories/simulation.repository.ts
  src/simulation/service/simulation.service.ts
Labels: SIM

#44 Feature/par 91 eva api endpoints for uiux
  src/evaluation/api/evaluation.controller.ts
  src/evaluation/db/repositories/evaluation.repository.ts
  src/evaluation/docs/api.documentation.yaml
  src/evaluation/model/request/evaluation-result.response.ts
  src/evaluation/router/evaluation.router.ts
  src/evaluation/service/evaluation.service.ts
  src/evaluation/validator/evaluation.validator.ts
Labels: EVA

#53 Feature/par 139 sim document dashboard api
  src/simulation/docs/api.documentation.yaml
Labels: SIM

#51 Feature/par 171 eva adapt evaluation model to adhere to dashboard api
  src/evaluation/api/evaluation.controller.ts
  src/evaluation/db/models/evaluation.model.ts
  src/evaluation/db/models/metric.model.ts
  src/evaluation/db/repositories/evaluation.repository.ts
  src/evaluation/docs/api.documentation.yaml
  src/evaluation/model/request/evaluation-result.response.ts
  src/evaluation/service/evaluation.service.ts
  src/evaluation/service/metric.service.ts
Labels: EVA

#55 API Input Validation for /agent Endpoint and Improved Validation Logic
  src/index.ts
  src/simulation/router/agent.router.ts
  src/simulation/router/optimization.router.ts
  src/simulation/router/simulation.router.ts
  src/simulation/validator/agent.validator.ts
  src/simulation/validator/error.validator.ts
  src/simulation/validator/simulation.validator.ts
Labels: SIM

#57 runEvaluation: include null as possible value for optimazation in req…
  src/evaluation/model/request/run-evaluation.request.ts
  src/evaluation/model/request/run-evaluation.response.ts
Labels: EVA

#58 implement goal fulfilled metric
  src/evaluation/service/metric.service.ts
  src/evaluation/utils/data.normalization.ts
Labels: EVA

#56 Feature/par 168 meta update optimization
  src/simulation/api/optimization.controller.ts
  src/simulation/db/models/optimization.model.ts
  src/simulation/db/repositories/optimization.repository.ts
  src/simulation/docs/api.documentation.yaml
  src/simulation/model/request/simulation.request.ts
  src/simulation/router/optimization.router.ts
  src/simulation/service/optimization.service.ts
  src/simulation/utils/global.d.ts
Labels: documentation, enhancement, META

#62 feature/par-178-meta-fix-optimization-service
  src/simulation/api/optimization.controller.ts
  src/simulation/service/optimization.service.ts
  src/simulation/utils/global.d.ts
Labels: META

#61 Feature/par 142 sim integrate optimization and evaluation
  src/simulation/service/simulation.service.ts
Labels: SIM

#63 API Input Validation for chat/ Endpoint
  src/simulation/api/chat.controller.ts
  src/simulation/db/models/simulation.model.ts
  src/simulation/model/request/chat.request.ts
  src/simulation/router/agent.router.ts
  src/simulation/router/chat.router.ts
  src/simulation/router/simulation.router.ts
  src/simulation/service/chat.service.ts
  src/simulation/validator/chat.validator.ts
Labels: SIM

#65 repositioned function parameter checks before api
  src/simulation/agents/service/service.agent.flight.booker.ts
  src/simulation/mockedAPI/flightBooking.mocks.ts
  src/simulation/mockedAPI/parloa.kf.faq.ts
Labels: SIM

#66 Update Imports to Include Aliases
  src/simulation/agents/custom.agent.ts
  src/simulation/agents/service/service.agent.flight.booker.ts
  src/simulation/agents/user.agent.ts
  src/simulation/api/agent.controller.ts
  src/simulation/api/auth.controller.ts
  src/simulation/api/chat.controller.ts
  src/simulation/api/dashboard.controller.ts
  src/simulation/api/llms.controller.ts
  src/simulation/api/optimization.controller.ts
  src/simulation/api/simulation.controller.ts
  src/simulation/db/config/db.config.ts
  src/simulation/db/config/db.ts
  src/simulation/db/models/agent.model.ts
  src/simulation/db/models/conversation.model.ts
  src/simulation/db/models/message.model.ts
  src/simulation/db/models/simulation.model.ts
  src/simulation/db/repositories/agent.repository.ts
  src/simulation/db/repositories/base.repository.ts
  src/simulation/db/repositories/chat.repository.ts
  src/simulation/db/repositories/conversation.repository.ts
  src/simulation/db/repositories/factory.ts
  src/simulation/db/repositories/message.repository.ts
  src/simulation/db/repositories/optimization.repository.ts
  src/simulation/db/repositories/simulation.repository.ts
  src/simulation/model/request/run-ab-testing.request.ts
  src/simulation/model/request/simulation.request.ts
  src/simulation/model/response/chat.response.ts
  src/simulation/model/response/dashboard.response.ts
  src/simulation/router/agent.router.ts
  src/simulation/router/auth.router.ts
  src/simulation/router/chat.router.ts
  src/simulation/router/dashboard.router.ts
  src/simulation/router/llms.router.ts
  src/simulation/router/optimization.router.ts
  src/simulation/router/simulation.router.ts
  src/simulation/service/agent.service.ts
  src/simulation/service/chat.service.ts
  src/simulation/service/conversation.service.ts
  src/simulation/service/optimization.service.ts
  src/simulation/service/simulation.service.ts
  src/simulation/validator/agent.validator.ts
  src/simulation/validator/error.validator.ts
  src/simulation/validator/simulation.validator.ts
  tsconfig.json
Labels: SIM

#67 Bug fix on /chat
  src/simulation/service/chat.service.ts
Labels: SIM

#68 get conversation and see messages
  src/simulation/service/simulation.service.ts
Labels: SIM

#70 apply api changes & fix the chat bug
  src/db/models/agent.model.ts
  src/db/repositories/chat.repository.ts
  src/simulation/api/chat.controller.ts
  src/simulation/api/simulation.controller.ts
  src/simulation/model/response/chat.response.ts
  src/simulation/router/agent.router.ts
  src/simulation/router/chat.router.ts
  src/simulation/router/simulation.router.ts
  src/simulation/service/chat.service.ts
  src/simulation/service/conversation.service.ts
  src/simulation/validator/agent.validator.ts
Labels: SIM

#71 Cascade delete simulations
  src/db/models/conversation.model.ts
  src/db/models/optimization.model.ts
  src/db/models/simulation.model.ts
  src/simulation/service/optimization.service.ts
Labels: SIM

#74 Quick API Fixes
  src/db/models/simulation.model.ts
  src/simulation/api/simulation.controller.ts
  src/simulation/model/request/ab-testing.request.ts
  src/simulation/model/request/simulation.request.ts
  src/simulation/router/simulation.router.ts
  src/simulation/service/optimization.service.ts
  src/simulation/service/simulation.service.ts
  src/simulation/validator/simulation.validator.ts
Labels: SIM

#80 Start a Chat with Agent Config or ID
  src/simulation/model/request/chat.request.ts
  src/simulation/service/chat.service.ts
  src/simulation/validator/chat.validator.ts
Labels: SIM

#76 add temporary to agents
  src/db/models/agent.model.ts
  src/db/repositories/agent.repository.ts
  src/simulation/service/chat.service.ts
  src/simulation/service/optimization.service.ts
  src/simulation/service/simulation.service.ts
Labels: SIM

#75 Feature/par 204 eva refactor request and response objects for evaluation
  src/evaluation/api/evaluation.controller.ts
  src/evaluation/model/response/evaluation-result.response.ts
  src/evaluation/model/response/results-for-conversation.response.ts
  src/evaluation/model/response/results-for-simulation.response.ts
  src/evaluation/service/evaluation.service.ts
  src/evaluation/validator/evaluation.validator.ts
Labels: EVA

#81 fix(api): support chats w/ different agents
  src/simulation/router/chat.router.ts
  src/simulation/service/agent.manager.service.ts
  src/simulation/service/chat.service.ts
  src/simulation/service/conversation.service.ts
Labels: SIM

#82 Fix jest config and db errors raised by jest
  __tests__/simulation.test.ts
  jest.config.js
  src/db/models/conversation.model.ts
  src/db/models/optimization.model.ts
  src/db/models/simulation.model.ts
Labels: SIM

#85 Feature/par 169 sim implement a handling mechanism for failed simulations
  src/enums/simulation-status.enum.ts
  src/simulation/agents/custom.agent.ts
  src/simulation/service/conversation.service.ts
  src/simulation/service/simulation.service.ts
Labels: SIM

#87 add date (timestamp) to simulation success graph
  src/db/models/simulation.model.ts
  src/db/repositories/simulation.repository.ts
  src/simulation/model/response/dashboard.response.ts
  src/simulation/model/type/simulation-success-graph-item.ts
  src/simulation/service/simulation.service.ts
Labels: SIM

#89 userCanReply functional
  src/simulation/service/chat.service.ts
  src/simulation/service/simulation.service.ts
Labels: SIM

#91 hairstyling (trimming "MsgSender:" from messages)
  src/simulation/service/simulation.service.ts
Labels: SIM

#93 Reload idle chat sessions when a message is sent
  src/simulation/api/chat.controller.ts
  src/simulation/service/agent.manager.service.ts
  src/simulation/service/chat.service.ts
Labels: SIM

#92 include conversationId in chat/start
  src/simulation/service/chat.service.ts
Labels: SIM

#52 Feature/par 154 eva basic implementation for sentiment analysis
  src/enums/metric-name.enum.ts
  src/evaluation/service/evaluation.python-wrapper.ts
  src/evaluation/service/evaluation.recovery.py
  src/evaluation/service/evaluation.sentiment.py
  src/evaluation/service/evaluation.similarity.py
  src/evaluation/service/metric.service.ts
  src/evaluation/utils/data.normalization.ts
  src/evaluation/utils/metric.config.ts
Labels: EVA

#98 Evaluate conversations when they finish
  src/simulation/service/simulation.service.ts
Labels: SIM

#99 Added chat API tests
  __tests__/chat.test.ts
Labels: SIM

#96 Feature/par 98 sim test agent api
  __tests__/agent.test.ts
  __tests__/simulation.test.ts
Labels: SIM

#97 Feature/par 207 sim test simulation api updated
  __tests__/simulation.test.ts
  src/simulation/router/simulation.router.ts
Labels: SIM

#100 test dashboard api
  __tests__/dashboard.test.ts
Labels: SIM

#94 Feature/par 215 eva csv export of evaluation results
  Dockerfile
  src/db/repositories/evaluation.repository.ts
  src/enums/metric-name.enum.ts
  src/evaluation/api/evaluation.controller.ts
  src/evaluation/docs/api.documentation.yaml
  src/evaluation/model/request/run-multiple-evaluations.request.ts
  src/evaluation/model/response/results-for-simulation.response.ts
  src/evaluation/router/evaluation.router.ts
  src/evaluation/service/evaluation.service.ts
  src/evaluation/utils/results-to-csv.ts
  src/evaluation/validator/evaluation.validator.ts
Labels: EVA

#102 Feature/par 217 eva adjust normalization
  src/evaluation/service/evaluation.python-wrapper.ts
  src/evaluation/utils/data.normalization.ts
  src/evaluation/utils/metric.config.ts
Labels: EVA

#101 Updated documentation
  src/simulation/docs/api.documentation.yaml
Labels: SIM

#106 Goal API + Agent Type
  src/db/models/agent.model.ts
  src/db/models/goal.model.ts
  src/db/repositories/factory.ts
  src/db/repositories/goal.repository.ts
  src/enums/agent-type.enum.ts
  src/index.ts
  src/simulation/api/goal.controller.ts
  src/simulation/docs/api.documentation.yaml
  src/simulation/router/agent.router.ts
  src/simulation/router/chat.router.ts
  src/simulation/router/goal.router.ts
  src/simulation/service/goal.service.ts
  src/simulation/validator/agent.validator.ts
  src/simulation/validator/goal.validator.ts
Labels: SIM

#109 Feature/par 223 eva fix bugs in response time and recovery rate metrics
  src/evaluation/service/evaluation.recovery.py
  src/evaluation/service/metric.service.ts
Labels: bug, EVA

#110 Feature/par 206 sim implement jwt authentication
  __tests__/agent.test.ts
  __tests__/chat.test.ts
  __tests__/dashboard.test.ts
  __tests__/simulation.test.ts
  package-lock.json
  package.json
  src/simulation/api/auth.controller.ts
  src/simulation/docs/api.documentation.yaml
  src/simulation/router/agent.router.ts
  src/simulation/router/chat.router.ts
  src/simulation/router/dashboard.router.ts
  src/simulation/router/goal.router.ts
  src/simulation/router/llms.router.ts
  src/simulation/router/optimization.router.ts
  src/simulation/router/prompt.router.ts
  src/simulation/router/simulation.router.ts
  src/utils/auth-token.ts
Labels: SIM

#111 [Eva] adjust csv export to consider failed simulations
  src/evaluation/api/evaluation.controller.ts
  src/evaluation/service/evaluation.service.ts
  src/evaluation/utils/results-to-csv.ts
Labels: EVA
